@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  margin: 0;
  overflow-y: auto;
}

html,
button,
img {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@keyframes home-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.home-spin {
  animation: home-spin 0.5s ease-in-out 0s 1;
}

.name-text-mask {
  background-image: url('assets/graffiti-mask.svg');
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(15px);
  }
}

.float-animation {
  animation: float 3s ease-in-out infinite;
}

.scrolling-text-container {
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  white-space: nowrap;
}

.primary,
.secondary {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
}

.primary {
  animation: primary 10s linear infinite;
}

.secondary {
  animation: secondary 10s linear infinite;
}

@keyframes primary {
  from {
    left: 0%;
  }

  to {
    left: -100%;
  }
}

@keyframes secondary {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}

.index-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.index-container>div {
  scroll-snap-align: start;
  height: 100vh;
  overflow: hidden;
}

@keyframes moveLeft {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100%);
  }
}

.astronaut-rocket {
  animation: moveLeft 11s linear infinite;
}

.flying-dragon img {
  animation: moveLeft 13s linear infinite;
  /* Slower speed for the dragon */
  filter: sepia(1000%) saturate(200%) brightness(205%) hue-rotate(235deg) contrast(1);
}

.link-underline-animation {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#F5CFFE, #F5CFFE);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-animation:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}